<!--
   html da pagina de busca

-->
<table>
      <tr>
         <td><label>Nome </label></td>
         <td><input [(ngModel)]="buscaprontuario.nome" name="namebox"></td>
         <td><button (click)="buscarProntuario(prontuario)">Buscar Prontuário</button></td>
</table>
<table>
      <tr *ngIf="prontuarios.length > 0">
         <th>Nome</th>
         <th>CPF</th>
      </tr>
      <tr *ngFor="let a of prontuarios">
         <td>{{a.nome}}</td>
         <td>{{a.cpf}}</td>
         <td><button (click)="verHistorico(a.nome, a.cpf)">Histórico</button></td>
      </tr>
   </table>